html
	head
		meta(charset="utf-8")
		link(href="css/style.css" rel="stylesheet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
	body
		.top-nav
			.logo
				img(src="images/ol.jpg")
			.swim
				a Лучшие товары
				a.a Для плавания
			.sw
				p 24/7
			.line
			.phone
				p (067) 110 01 41
				p.p (097) 044 48 46
				a Заказать звонок
				.basket
					img(src="images/bask.jpg")
			.line
			.entry
				a Вход/Регистрация

		.wrapper
			.nav
				a Главная
				a Интернет-магазин
				a Оплата и доставка
				a Новости
				a Акции
				a Задать вопрос
				a Таблицы размеров

		.wrapper2
			.search
				form
					input.sen( type="text" placeholder="Что-нибудь ищите?")
					input.send( type="submit" value="Найти")
			.olymp
				img(src="images/head.png")
			.info
				img(src="images/tehn.jpg")

		.wrapper3
			.sale
				h5 Хиты продаж
			.tovar
				.men
					img(src="images/men.jpg")
					h4 Мужские стартовые гидрокостюмы
					p Количество товаров: 29
				.girl
					img(src="images/girl.jpg")
					h4 Женские стартовые гидрокостюмы
					p Количество товаров: 43
				.smel
					img(src="images/smel.jpg")
					h4 Плавки
					p Папки: 6
			.tovar2
				.swims
					img(src="images/swims.jpg")
					h4 Купальники
					p Папки: 7
				.goggl
					img(src="images/goggl.jpg")
					h4 Очки для плавания
					p Папки: 6
				.simul
					img(src="images/simul.jpg")
					h4 ТРЕНАЖЕРЫ ДЛЯ ПЛАВАНИЯ:<br>резина для воды, парашюты,<br>пояса, эспандеры для суши
					p Количество товаров: 32
			.tovar3
				.hats
					img(src="images/hats.jpg")
					h4 Шапочки для плавания
					p Папки: 8
				.scap
					img(src="images/scap.jpg")
					h4 Лопатки для плавания: силовые,<br>кистевые и для техники
					p Папки: 3
				.fins
					img(src="images/fins.jpg")
					h4 Ласты для плавания короткие и<br>длинные
					p Количество товаров: 28
		
		.wrapper4
			.info
				.company
					.info2
						h5 Покупателям
						a Мгновенная доставка
						a Доставка и оплата
						a Задать вопрос
						a Инфо-центр
					.info2
						h5 Компания
						a Акции
						a Контакты
						a О компании
				.contact
					h1 Наш магазин Olympic Store
					.line_1
					.clock
						p.a 24/7
						.line
						p (067) 110 01 41
						p (097) 044 48 46
			.visa
				img(src="images/Group 5.png")
